@import './style';
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

//for top page
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background: $backgroundColor !important;
}

li {
    list-style: none;
}

