//color
$backgroundColor: #fff8c1;
$ColorWithTransparency: rgba(255, 248, 193, .7);
$totallyTransparent: rgba(255, 255, 255, 0);
$flash: #fcd307;
$colorForHeaderFont: gray;



//font
$fontsizeForHeader: 1.1em;
$fontsizeForHeaderDD: 1em;
$fontsizeForHeaderHamMenu: 1.1em;
$fontsizeForHeaderDDHamMenu: 1em;
$fontFamily: 'Potta One', cursive;
$fontFamilyForStart: 'Barlow Condensed', sans-serif;

//cluttered with photos
@mixin makeItCluttered($absolute) {
    position: $absolute;
    height: 300px;
    width: 450px;
}

@mixin ForAInHeader($block) {
    display: $block;
    margin: 0;
    padding: 13px 0;
    color: $colorForHeaderFont;
    font-size: $fontsizeForHeader;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
}

@keyframes animeForTitle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes takeAPhoto {
    0% {
        top: -15%;
    }
    50% {
        top: -13%;
    }
    100% {
        top: -15%;
    }
}

@keyframes flashScale {
    0% {
        transform: scale(0);
        
    }
    50% {
        transform: scale(1.5);

    }
    100% {
        transform: scale(0);
    }
}

@keyframes movePhoto1 {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes movePhoto2 {
    0% {
        transform: rotate(-10deg);
        // transition: all 0.3s ease-in-out 0s;
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
        // transition: all 0.3s ease-in-out 0s;;
    }
}

@keyframes movePhoto3 {
    0% {
        transform: rotate(-5deg);
        // transition: all 0.3s ease-in-out 0s;
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
        // transition: all 0.3s ease-in-out 0s;;
    }
}

@keyframes buttonTransparent {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scaleNOpacity1 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(6);
        opacity: 0;
    }
}

@keyframes scaleNOpacity2 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(6);
        top: 50%;
        left: 100%;
        opacity: 0;
    }
}

@keyframes scaleNOpacity3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(6);
        top: 100%;
        opacity: 0;
    }
}

@keyframes scaleNOpacity4 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(6);
        left: -100%;
        opacity: 0;
    }
}

@keyframes scaleNOpacity5 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(6);
        bottom: 100%;
        opacity: 0;
    }
}

@keyframes scaleNOpacity6 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(6);
        bottom: 100%;
        left: -100%;
        opacity: 0;
    }
}

//when less than 880px ↓
@keyframes fallingDown1 {
    0% {
        transform: rotate(10deg);
        top: -20%;
        opacity: 0;
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
        opacity: 1;
        
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
        top: 150%;
        opacity: 0;
    }
}

@mixin photoFallingDown {
    animation-name: fallingDown1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
//when less than 880px ↑


//scale the main page
@keyframes scaleThePage {
    0% {
        transform: scale(1.2);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

//animation for flash on the profile page 
@keyframes rotateFlash {
    0% {
        transform: scale(.95);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(.95);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(.95);
    }
}