//color
$backgroundColor: #fff8c1;
$ColorWithTransparency: rgba(255, 248, 193, .7);
$totallyTransparent: rgba(255, 255, 255, 0);
$flash: #fcd307;



//font
$fontsizeForHeader: 1.1em;
$fontFamily: 'Potta One', cursive;

//cluttered with photos
@mixin makeItCluttered($absolute) {
    position: $absolute;
    height: 300px;
    width: 450px;
}

@mixin ForAInHeader($block) {
    display: $block;
    margin: 0;
    padding: 13px 0;
    color: gray;
    font-size: $fontsizeForHeader;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
}
