@import './common';


.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px minmax(300px, auto);
    align-items: center;

    .header {
        grid-column: 1 / 4;
        position: sticky;
        z-index: 100;
        top: 0;
        width: 100%;
        background-color: $ColorWithTransparency;

        .gridContainerForHeader {
            display: flex;
            justify-content: space-evenly;
            padding: 20px 0;
           
            .sortPd {
        
                .sortPulldown {
                    padding: 5px 30px;
                    border-radius: 10px;
                    color: $colorForHeaderFont;
                    cursor: pointer;
                }
            }
        
            .filterPd {
        
                .filterPulldown {
                    padding: 5px 30px;
                    border-radius: 10px;
                    color: $colorForHeaderFont;
                    cursor: pointer;
                }
            }
        
            .miyasPhoto {
                font-size: $fontsizeForHeader;
            }
        
            .links {
                font-size: $fontsizeForHeader;
            }
        
            .profile {
                display: inline;
                position: relative;
                margin: 0;
                padding: 0;
                font-size: $fontsizeForHeader;
        
                &:hover .dropDownMenu li {
                    overflow: visible;
                    height: 38px;
                }

                .dropDownMenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    margin-top: 15px;
                    padding: 0;
        
                    li {
                        overflow: hidden;
                        width: 200%;
                        height: 0;
                        color: $colorForHeaderFont;
                        transition: .2s;
                    }
        
                    a {
                        padding: 13px 15px;
                        text-align: left;
                        color: $colorForHeaderFont;
                        font-size: $fontsizeForHeaderDD;
                        font-weight: normal;
                        text-decoration: none;
                        line-height: 1;

                        &:hover {
                            font-weight: bold;
                            transition: .2s;
                        }
                    }
                }
             }

             .mainList {
                margin: 0;
                padding: 13px 0;
                color: $colorForHeaderFont;
                font-size: $fontsizeForHeader;
                font-weight: bold;
                line-height: 1;
                text-decoration: none;
                position: relative;

                &:after {    
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: $colorForHeaderFont;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                  }
                  &:hover:after { 
                    width: 100%; 
                    left: 0; 
                  }
            }
         }
    }

    .headerHamburgerMenu {
        display: none;
    }

    .containerGridPictures {
       grid-column: 1 / 4;
       display: grid; 
       grid-template-columns: repeat(3, 1fr);
    }

    .boardForPhotos {
        background: linear-gradient(135deg, #fff2e6, #ffe5cc);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5%;
        margin: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            transition: .2s;
            z-index: 99;
        }
    
        figcaption {
            align-self: flex-start;
            padding-left: 10%;
            font-size: .85em;
        }

        img {
            width: 80%;
            height: 80%;
            padding-top: 1%;
            object-fit: cover;

        }

        
    }
}

.buttonToPost {
    background: $totallyTransparent;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    z-index: 100;
    bottom: 0;
    width: 100%;


    .postButton {
        background: linear-gradient(to right, #ed213a, #93291e);
        color: #ffeadb;
        font-family: $fontFamily;
        padding: 15px 50px;
        border-radius: 30px;
        font-size: 1.1em;
    }
}

 @media screen and (max-width: 1100px) {
     body {
         background: red;
         .gridContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 120px minmax(300px, auto);
            align-items: center;

            .header {
                grid-column: 1 / 3;
                position: sticky;
                z-index: 100;
                top: 0;
                width: 100%;
                background-color: $ColorWithTransparency;
        
                .gridContainerForHeader {
                    display: flex;
                    justify-content: space-evenly;
                    padding-left: 0;
                    padding-bottom: 20px;
                   
                    .sortPd {
                
                        .sortPulldown {
                            padding: 5px 30px;
                            border-radius: 10px;
                            color: $colorForHeaderFont;
                        }
                    }
                
                    .filterPd {
                
                        .filterPulldown {
                            padding: 5px 30px;
                            border-radius: 10px;
                            color: gray;
                        }
                    }
                
                    .miyasPhoto {
                        font-size: $fontsizeForHeader;
                    }
                
                    .links {
                        font-size: $fontsizeForHeader;
                    }
                
                    .profile {
                        display: inline;
                        position: relative;
                        margin: 0;
                        padding: 0;
                
                        &:hover .dropDownMenu li {
                            overflow: visible;
                            height: 38px;
                            // border-bottom: 1px solid #fff;
                        }
                
                        .dropDownMenu {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            margin-top: 15px;
                            padding: 0;
                
                            li {
                                overflow: hidden;
                                width: 200%;
                                height: 0;
                                color: $colorForHeaderFont;
                                transition: .2s;
                            }
                
                            a {
                                padding: 13px 15px;
                                text-align: left;
                                font-size: $fontsizeForHeaderDD;
                                font-weight: normal;
                                text-decoration: none;
                                line-height: 1;
                            }
                        }
                     }

                     .mainList {
                        margin: 0;
                        padding: 13px 0;
                        color: $colorForHeaderFont;
                        font-size: $fontsizeForHeader;
                        font-weight: bold;
                        line-height: 1;
                        text-decoration: none;
                        position: relative;
        
                        &:after {    
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            display: block;
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: $colorForHeaderFont;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                          }
                          &:hover:after { 
                            width: 100%; 
                            left: 0; 
                          }
                    }
                 }
            }

            .headerHamburgerMenu {
                display: none;
            }
        
            .containerGridPictures {
               grid-column: 1 / 3;
               display: grid; 
               grid-template-columns: repeat(2, 1fr);
            }
        
            .boardForPhotos {
                background: linear-gradient(135deg, #fff2e6, #ffe5cc);
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 5%;
                margin: 5%;
                padding-top: 2%;
                padding-bottom: 5%;
            
                figcaption {
                    align-self: flex-start;
                    padding-left: 10%;
                    font-size: .85em;
                }
        
                img {
                    width: 80%;
                    height: 80%;
                    padding-top: 1%;
                    object-fit: cover;
                }
            }
        }
     }
 }

 @media screen and (max-width: 650px) {
    body {
        background: greenyellow;
        .gridContainer {
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 100px minmax(300px, auto);
           align-items: center;
       
           .header {
              display: none;
           }

           .headerHamburgerMenu {
               display: initial;
               grid-column: 1 / 4;
               position: sticky;
               z-index: 100;
               top: 0;
               width: 100%;
               background-color: $ColorWithTransparency;

               .makePulldownInline {
                display: flex;
                justify-content: space-evenly;
                padding-top: 20px;

                .sortPd {
            
                        .sortPulldown {
                            padding: 5px 30px;
                            border-radius: 10px;
                            color: $colorForHeaderFont;
                            cursor: pointer;
                        }
                    }
        
                .filterPd {
            
                        .filterPulldown {
                            padding: 5px 30px;
                            border-radius: 10px;
                            color: $colorForHeaderFont;
                            cursor: pointer;
                        }
                    }

        }

              .createHamburgerMenu {
                  margin: 0 auto;
               
                  .nav-hidden {
                      display: none;
                  }
               
                  #menubtn {
                      width: 100%;
                      
                      img {
                          width: 5%;
                          height: 5%;
                          float: right;
                          cursor: pointer;
                      }
                  }

                  nav {
                      background: $ColorWithTransparency;
                      display: none;
                      float: right;
                      width: 100%;

                      ul.mobile_menu {
                        //   text-align: right;
                        // float: right;
                        text-align: right;
                        position: relative;
                        text-indent: 10px;

                        li {
                            padding-right: 10px !important;
                        }

                      .miyasPhoto {
                        font-size: $fontsizeForHeaderHamMenu;
                    }
                
                    .links {
                        font-size: $fontsizeForHeaderHamMenu;
                    }
                
                    .profile {
                        font-size: $fontsizeForHeaderHamMenu;
                        display: inline;
                        position: relative;
                        margin: 0;
                        padding: 0;
                        left: -10px;

                        .dropDownMenu {
                            position: absolute;
                            top: 0%;
                            left: -90px;
                            // margin: 0;
                            margin-top: 40px;
                            padding: 0;
    
                
                            li {
                                overflow: hidden;
                                width: 100%;
                                height: 0;
                                color: $colorForHeaderFont;
                                transition: .2s;
                            }
                
                            a {
                                padding: 13px 15px;
                                text-align: left;
                                font-size: $fontsizeForHeaderDDHamMenu;
                                font-weight: normal;
                            }
                        }
                
                        &:hover .dropDownMenu li {
                            overflow: visible;
                            height: 38px;
                            // border-bottom: 1px solid #fff;
                            // background: $ColorWithTransparency;
                            
                        }
                
                        a {
                            display: block;
                            margin: 0;
                            padding: 13px 0;
                            color: $colorForHeaderFont;
                            font-size: $fontsizeForHeader;
                            font-weight: bold;
                            line-height: 1;
                            text-decoration: none;
                            // font-weight: normal;

                            &:hover {
                                font-weight: bold;
                                transition: .2s;
                            }
                        }
                     }
                    }
                    .mainList {
                        display: block;
                        margin: 0;
                        padding: 13px 0;
                        color: $colorForHeaderFont;
                        font-size: $fontsizeForHeader;
                        font-weight: bold;
                        line-height: 1;
                        text-decoration: none;
                        position: relative;

                        &:after {    
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            // display: block;
                            height: 2px;
                            right: 0;
                            position: absolute;
                            background: $colorForHeaderFont;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                          }
                          &:hover:after { 
                            width: 20%; 
                            right: 0; 
                          }
                    }
                  }

                  #nav-input:checked ~ nav {
                      display: block;
                      animation: 1s fadeIn;

                      @keyframes fadeIn {
                          from {
                              opacity: 0; 
                          }
                          to {
                              opacity: 1;
                          }
                      }
                  }
              }
           }
       
           .containerGridPictures {
              grid-column: 1 / 2;
              display: grid; 
              grid-template-columns: 1fr;
           }
       
           .boardForPhotos {
               background: linear-gradient(135deg, #fff2e6, #ffe5cc);
               align-items: center;
               display: flex;
               flex-direction: column;
               justify-content: center;
               border-radius: 5%;
               margin: 5%;
               padding-top: 2%;
               padding-bottom: 5%;
           
               figcaption {
                   align-self: flex-start;
                   padding-left: 10%;
                   font-size: .85em;
               }
       
               img {
                   width: 80%;
                   height: 80%;
                   padding-top: 1%;
                   object-fit: cover;
               }
           }
       }
    }
 }

 .title{
     display: none;
 }

 .description {
     display: none;
 }

 .heart{
     cursor: pointer;
 }
 .heartToUndo {
     color: red !important;
 }