@import './common';


.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px minmax(300px, auto);
    align-items: center;

    .header {
        grid-column: 1 / 4;
        position: sticky;
        top: 0;
        width: 100%;
        background-color: $ColorWithTransparency;

        .gridContainerForHeader {
            display: flex;
            justify-content: space-evenly;
            padding-left: 0;
            padding-bottom: 20px;
           
            .sortPd {
        
                .sortPulldown {
                    padding: 5px 30px;
                    border-radius: 10px;
                    color: gray;
                }
            }
        
            .filterPd {
        
                .filterPulldown {
                    padding: 5px 30px;
                    border-radius: 10px;
                    color: gray;
                }
            }
        
            .miyasPhoto {
                font-size: $fontsizeForHeader;
        
                a {
                    display: block;
                    margin: 0;
                    padding: 13px 0;
                    color: gray;
                    font-size: $fontsizeForHeader;
                    font-weight: bold;
                    line-height: 1;
                    text-decoration: none;
                }
            }
        
            .links {
                font-size: $fontsizeForHeader;
        
                a {
                    display: block;
                    margin: 0;
                    padding: 13px 0;
                    color: gray;
                    font-size: $fontsizeForHeader;
                    font-weight: bold;
                    line-height: 1;
                    text-decoration: none;
                }
            }
        
            .profile {
                display: inline;
                position: relative;
                margin: 0;
                padding: 0;
        
                &:hover .dropDownMenu li {
                    overflow: visible;
                    height: 38px;
                    border-bottom: 1px solid #fff;
                }
        
                a {
                    display: block;
                    margin: 0;
                    padding: 13px 0;
                    color: gray;
                    font-size: $fontsizeForHeader;
                    font-weight: bold;
                    line-height: 1;
                    text-decoration: none;
                }
                .dropDownMenu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    margin: 0;
                    padding: 0;
        
                    li {
                        overflow: hidden;
                        width: 200%;
                        height: 0;
                        color: gray;
                        transition: .2s;
                    }
        
                    a {
                        padding: 13px 15px;
                        text-align: left;
                        font-size: $fontsizeForHeader;
                        font-weight: normal;
                    }
                }
             }
         }
    }

    .headerHamburgerMenu {
        display: none;
    }

    .containerGridPictures {
       grid-column: 1 / 4;
       display: grid; 
       grid-template-columns: repeat(3, 1fr);
    }

    .boardForPhotos {
        background: linear-gradient(135deg, #fff2e6, #ffe5cc);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5%;
        margin: 5%;
        padding-top: 2%;
        padding-bottom: 5%;
    
        figcaption {
            align-self: flex-start;
            padding-left: 10%;
            font-size: .85em;
        }

        img {
            width: 80%;
            height: 80%;
            padding-top: 1%;
            object-fit: cover;
        }
    }
}

.buttonToPost {
    background: $totallyTransparent;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    bottom: 0;
    width: 100%;


    .postButton {
        background: linear-gradient(to right, #ed213a, #93291e);
        color: #ffeadb;
        font-family: $fontFamily;
        padding: 15px 50px;
        border-radius: 30px;
        font-size: 1.1em;
    }
}

 @media screen and (max-width: 1100px) {
     body {
         background: red;
         .gridContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 120px minmax(300px, auto);
            align-items: center;

            .header {
                grid-column: 1 / 3;
                position: sticky;
                top: 0;
                width: 100%;
                background-color: $ColorWithTransparency;
        
                .gridContainerForHeader {
                    display: flex;
                    justify-content: space-evenly;
                    padding-left: 0;
                    padding-bottom: 20px;
                   
                    .sortPd {
                
                        .sortPulldown {
                            padding: 5px 30px;
                            border-radius: 10px;
                            color: gray;
                        }
                    }
                
                    .filterPd {
                
                        .filterPulldown {
                            padding: 5px 30px;
                            border-radius: 10px;
                            color: gray;
                        }
                    }
                
                    .miyasPhoto {
                        font-size: $fontsizeForHeader;
                
                        a {
                            display: block;
                            margin: 0;
                            padding: 13px 0;
                            color: gray;
                            font-size: $fontsizeForHeader;
                            font-weight: bold;
                            line-height: 1;
                            text-decoration: none;
                        }
                    }
                
                    .links {
                        font-size: $fontsizeForHeader;
                
                        a {
                            display: block;
                            margin: 0;
                            padding: 13px 0;
                            color: gray;
                            font-size: $fontsizeForHeader;
                            font-weight: bold;
                            line-height: 1;
                            text-decoration: none;
                        }
                    }
                
                    .profile {
                        display: inline;
                        position: relative;
                        margin: 0;
                        padding: 0;
                
                        &:hover .dropDownMenu li {
                            overflow: visible;
                            height: 38px;
                            border-bottom: 1px solid #fff;
                        }
                
                        a {
                            display: block;
                            margin: 0;
                            padding: 13px 0;
                            color: gray;
                            font-size: $fontsizeForHeader;
                            font-weight: bold;
                            line-height: 1;
                            text-decoration: none;
                        }
                        .dropDownMenu {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            margin: 0;
                            padding: 0;
                
                            li {
                                overflow: hidden;
                                width: 200%;
                                height: 0;
                                color: gray;
                                transition: .2s;
                            }
                
                            a {
                                padding: 13px 15px;
                                text-align: left;
                                font-size: $fontsizeForHeader;
                                font-weight: normal;
                            }
                        }
                     }
                 }
            }

            .headerHamburgerMenu {
                display: none;
            }
        
            .containerGridPictures {
               grid-column: 1 / 3;
               display: grid; 
               grid-template-columns: repeat(2, 1fr);
            }
        
            .boardForPhotos {
                background: linear-gradient(135deg, #fff2e6, #ffe5cc);
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 5%;
                margin: 5%;
                padding-top: 2%;
                padding-bottom: 5%;
            
                figcaption {
                    align-self: flex-start;
                    padding-left: 10%;
                    font-size: .85em;
                }
        
                img {
                    width: 80%;
                    height: 80%;
                    padding-top: 1%;
                    object-fit: cover;
                }
            }
        }
     }
 }

 @media screen and (max-width: 650px) {
    body {
        background: greenyellow;
        .gridContainer {
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 100px minmax(300px, auto);
           align-items: center;
       
           .header {
              display: none;
           }

           .headerHamburgerMenu {
               display: initial;
               grid-column: 1 / 4;
               position: sticky;
               top: 0;
               width: 100%;
               background-color: $ColorWithTransparency;

               .makePulldownInline {
                display: flex;
                justify-content: space-evenly;
                padding-top: 20px;

                .sortPd {
            
                        .sortPulldown {
                            padding: 5px 30px;
                            border-radius: 10px;
                            color: gray;
                        }
                    }
        
                .filterPd {
            
                        .filterPulldown {
                            padding: 5px 30px;
                            border-radius: 10px;
                            color: gray;
                        }
                    }

        }

              .createHamburgerMenu {
                  margin: 0 auto;
               
                  .nav-hidden {
                      display: none;
                  }
               
                  #menubtn {
                      width: 100%;
                      
                      img {
                          width: 5%;
                          height: 5%;
                          float: right;
                          cursor: pointer;
                      }
                  }

                  nav {
                      background: $ColorWithTransparency;
                      display: none;
                      float: right;
                      width: 100%;

                      ul.mobile_menu {
                        //   text-align: right;
                        // float: right;
                        text-align: right;
                        position: relative;
                        text-indent: 10px;

                        li {
                            padding-right: 10px !important;
                        }

                      .miyasPhoto {
                        font-size: $fontsizeForHeader;
                
                        a {
                            display: block;
                            margin: 0;
                            padding: 13px 0;
                            color: gray;
                            font-size: $fontsizeForHeader;
                            font-weight: bold;
                            line-height: 1;
                            text-decoration: none;
                        }
                    }
                
                    .links {
                        font-size: $fontsizeForHeader;
                
                        a {
                            display: block;
                            margin: 0;
                            padding: 13px 0;
                            color: gray;
                            font-size: $fontsizeForHeader;
                            font-weight: bold;
                            line-height: 1;
                            text-decoration: none;
                        }
                    }
                
                    .profile {
                        display: inline;
                        position: relative;
                        margin: 0;
                        padding: 0;
                        left: -10px;

                        .dropDownMenu {
                            position: absolute;
                            top: 0%;
                            left: -90px;
                            // margin: 0;
                            margin-top: 30px;
                            padding: 0;
    
                
                            li {
                                overflow: hidden;
                                width: 100%;
                                height: 0;
                                color: gray;
                                transition: .2s;
                            }
                
                            a {
                                padding: 13px 15px;
                                text-align: left;
                                font-size: $fontsizeForHeader;
                                font-weight: normal;
                            }
                        }
                
                        &:hover .dropDownMenu li {
                            overflow: visible;
                            height: 38px;
                            border-bottom: 1px solid #fff;
                            // background: $ColorWithTransparency;
                            
                        }
                
                        a {
                            display: block;
                            margin: 0;
                            padding: 13px 0;
                            color: gray;
                            font-size: $fontsizeForHeader;
                            font-weight: bold;
                            line-height: 1;
                            text-decoration: none;
                            // font-weight: normal;
                        }
                     }
                    }
                  }

                  #nav-input:checked ~ nav {
                      display: block;
                      animation: 1s fadeIn;

                      @keyframes fadeIn {
                          from {
                              opacity: 0; 
                          }
                          to {
                              opacity: 1;
                          }
                      }
                  }
              }
           }
       
           .containerGridPictures {
              grid-column: 1 / 2;
              display: grid; 
              grid-template-columns: 1fr;
           }
       
           .boardForPhotos {
               background: linear-gradient(135deg, #fff2e6, #ffe5cc);
               align-items: center;
               display: flex;
               flex-direction: column;
               justify-content: center;
               border-radius: 5%;
               margin: 5%;
               padding-top: 2%;
               padding-bottom: 5%;
           
               figcaption {
                   align-self: flex-start;
                   padding-left: 10%;
                   font-size: .85em;
               }
       
               img {
                   width: 80%;
                   height: 80%;
                   padding-top: 1%;
                   object-fit: cover;
               }
           }
       }
    }
 }