@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@-webkit-keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@-webkit-keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@-webkit-keyframes buttonTransparent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes buttonTransparent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@keyframes scaleNOpacity1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 50%;
    left: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 50%;
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    left: -100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    left: -100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes sacaleThePage {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes sacaleThePage {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff8c1 !important;
}

li {
  list-style: none;
}

@keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes buttonTransparent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleNOpacity1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@keyframes scaleNOpacity2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 50%;
    left: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    left: -100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    left: -100%;
    opacity: 0;
  }
}

@keyframes sacaleThePage {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.modal-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
}

.modal-body .photoDescription {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.modal-body .photoDescription img {
  height: 90%;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-body .photoDescription .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-body .photoDescription .like .heart, .modal-body .photoDescription .like .heartToUndo {
  cursor: pointer;
  font-size: 1.2em;
}

.modal-body .photoDescription .like .heartToUndo {
  color: red;
  font-weight: bold;
}

.modal-body .descriPart {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal-body .descriPart .titleAndDescri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body .descriPart .titleAndDescri h1 {
  font-size: 2.2em;
  margin-bottom: 1%;
}

.modal-body .descriPart .titleAndDescri p {
  text-align: justify;
}

.modal-body .descriPart .commentNBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body .descriPart .commentNBtn span {
  font-size: 1.1em;
  font-weight: bold;
}

.modal-body .descriPart .commentNBtn .comment {
  font-size: .9em;
  margin-bottom: 5%;
}

.modal-body .descriPart .commentNBtn .writeComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-body .descriPart .commentNBtn .writeComment #commentArea {
  margin-right: 1%;
  width: 100%;
}

.modal-body .descriPart .commentNBtn .writeComment #toComment {
  border-radius: 10%;
  background: white;
}

@media screen and (max-width: 991px) {
  .modal-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
  .modal-body .photoDescription {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding-left: 40px;
  }
  .modal-body .descriPart {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  figure {
    margin: auto;
  }
}
/*# sourceMappingURL=photoDescri.css.map */