@import './common';
@import './style';

// .gridForPosting {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     height: 100%;
    

//     .gridForDnD {
//         display: grid;
//         grid-template-columns: repeat(5,  1fr);
//         grid-template-rows: repeat(6, 1fr);
//         border: 1px dashed gray;
//         border-radius: 10px;

//         img {
//             grid-column: 1 / 6;
//             grid-row: 1 / 4;
//         }

//         .dndFileOr {
//             grid-column: 1 / 6;
//             grid-row: 4 / 6;
//         }

//         button {
//             grid-column: 3 / 4;
//             grid-row: 6 / 7;
//         }
//     }

//     .infoToPost {
//         display: grid;
//         grid-template-columns: repeat(5, 1fr);
//         grid-template-rows: repeat(7, 1fr);

//         .chooseDate {
//             grid-column: 1 / 3;
//             grid-row: 1 / 2;
//         }

//         .categoryArea {
//             grid-column: 1 / 3;
//             grid-row: 2 / 3;
//         }

//     .newCategoryArea {
//         grid-column: 3 / 5;
//         grid-row: 2 / 3;
//     }

//     .toCreateNewCtgy {
//         grid-column: 5 / 6;
//         grid-row: 2 / 3;
//     }

//     .putTitle {
//         grid-column: 1 / 6;
//         grid-row: 3 / 4;
//     }

//     .putDescription {
//         grid-column: 1 / 6;
//         grid-row: 4 / 7;
//     }

//     .toPost {
//         grid-column: 3 / 4;
//         grid-row: 7 / 8;
//     } 

//     }

// }

.postAPhoto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;

    .dnd {
        position: relative;
        border: dotted 1px gray;
        border-radius: 20px;
        width: 500px;
        height: 350px;

        #input_file {
            width: 500px;
            height: 350px;
            opacity: 0;

            #input_file:focus {
                opacity: 1;
            }
        }

        #preview_field {
            position: absolute;
            top: 0;
            left: 0;
            width: 500px;
            height: 350px;
            object-fit: cover;


            img {
                width: 500px;
                height: 350px;
                border-radius: 20px;
            }
        }

        #drop_area {
            position: absolute;
            top: 0;
            left: 0;
            width: 500px;
            height: 350px;
            cursor: pointer;

            p {
                text-align: center;
                padding-top: 10%;
                font-size: 1.2em;
            }
        }

        #icon_clear_button {
            display: none;
            position: absolute;
            cursor: pointer;
            border-radius: 50%;
            background-color: gray;
            border: 1px solid gray;
            padding-left: 5px;
            padding-right: 5px;
        }

    }

    .infoToPost {
        padding-top: 1%;
        padding-right: 5%;
        display: block;

        .chooseDate {
            font-size: 1.1em;
            margin-bottom: 3%;

            label {
                padding-right: 2%;
            }

            #date {
                padding: 1% 3%;
                border-radius: 10px;
                outline: none;
            }
        }

        .categoryArea {
            font-size: 1.1em;
            margin-bottom: 1%;

            label {
                padding-right: 2%;
            }

            #filter {
                padding: 1% 3%;
                border-radius: 7px;
            }
        }

        .newCategoryArea {
            margin-bottom: 5%;
            #newCategory {
                border-radius: 3px;
                outline: none;
            }
        }

        .putTitle {
            margin-bottom: 1%;
            label {
                font-size: 1.1em;
            }

            #title {
                width: 100%;
                font-size: 1.1em;
                border-radius: 5px;
            }
        }

        .putDescription {
            margin-bottom: 3%;
            label {
                font-size: 1.1em;
            }
        }
        .toPost {
            width: 100%;
            padding: 2% 0;
            border-radius: 15px;
            outline: none;
        }
    }
}
