@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@import url(/Users/miyabi/Desktop/finalProject/scss/start.css);
@-webkit-keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@-webkit-keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff8c1 !important;
}

li {
  list-style: none;
}

.gridForProfile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 100px minmax(300px, auto);
      grid-template-rows: 100px minmax(300px, auto);
}

.gridForProfile .header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 248, 193, 0.7);
}

.gridForProfile .header .gridContainerForHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0;
  padding-bottom: 20px;
}

.gridForProfile .header .gridContainerForHeader .sortPd {
  visibility: hidden;
}

.gridForProfile .header .gridContainerForHeader .filterPd {
  visibility: hidden;
}

.gridForProfile .header .gridContainerForHeader .miyasPhoto {
  font-size: 1.1em;
}

.gridForProfile .header .gridContainerForHeader .miyasPhoto a {
  display: block;
  margin: 0;
  padding: 13px 0;
  color: gray;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.gridForProfile .header .gridContainerForHeader .links {
  font-size: 1.1em;
}

.gridForProfile .header .gridContainerForHeader .links a {
  display: block;
  margin: 0;
  padding: 13px 0;
  color: gray;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.gridForProfile .header .gridContainerForHeader .profile {
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
}

.gridForProfile .header .gridContainerForHeader .profile:hover .dropDownMenu li {
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}

.gridForProfile .header .gridContainerForHeader .profile a {
  display: block;
  margin: 0;
  padding: 13px 0;
  color: gray;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.gridForProfile .header .gridContainerForHeader .profile .dropDownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

.gridForProfile .header .gridContainerForHeader .profile .dropDownMenu li {
  overflow: hidden;
  width: 200%;
  height: 0;
  color: gray;
  -webkit-transition: .2s;
  transition: .2s;
}

.gridForProfile .header .gridContainerForHeader .profile .dropDownMenu a {
  padding: 13px 15px;
  text-align: left;
  font-size: 1.1em;
  font-weight: normal;
}

.gridForProfile .profilePhoto {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: minmax(200px, auto);
      grid-template-rows: minmax(200px, auto);
}

.gridForProfile .profilePhoto .flashForCamera {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4 / 10;
  position: relative;
}

.gridForProfile .profilePhoto .flashForCamera .flash {
  background: #fcd307;
  width: 400px;
  height: 400px;
  position: relative;
  text-align: center;
}

.gridForProfile .profilePhoto .flashForCamera .flash::before, .gridForProfile .profilePhoto .flashForCamera .flash::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 400px;
  background: #fcd307;
}

.gridForProfile .profilePhoto .flashForCamera .flash::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.gridForProfile .profilePhoto .flashForCamera .flash::after {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.gridForProfile .profilePhoto .flashForCamera .profileImg {
  position: absolute;
  top: 0;
  left: 0;
}

.gridForProfile .profilePhoto .flashForCamera .profileImg img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  height: 400px;
  width: 400px;
}

.gridForProfile .profile {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.gridForProfile .profile h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  padding-top: 25%;
}

.gridForProfile .profile .joinWhen {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.gridForProfile .profile .liveWhere {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.gridForProfile .profile p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}
/*# sourceMappingURL=profile.css.map */