@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@-webkit-keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@-webkit-keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff8c1 !important;
}

li {
  list-style: none;
}

@keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.makeSomeAnimation {
  position: relative;
}

.makeSomeAnimation h1 {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  -webkit-animation-name: animeForTitle;
          animation-name: animeForTitle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 500px;
}

.makeSomeAnimation .clutteredWithPhotos .utsurundesu {
  position: absolute;
  top: -15%;
  left: -27%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera {
  position: absolute;
  top: -25%;
  left: 13%;
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash {
  background: #fcd307;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash::before, .makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background: #fcd307;
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash::after {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.makeSomeAnimation .clutteredWithPhotos .running {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 20%;
  left: 25%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.makeSomeAnimation .clutteredWithPhotos .sunsetInSg {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 50%;
  left: 47%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.makeSomeAnimation .clutteredWithPhotos .karaoke {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 20%;
  left: 35%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.makeSomeAnimation .clutteredWithPhotos .marlion {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 51%;
  left: 40%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.makeSomeAnimation .clutteredWithPhotos .noto {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 55%;
  left: 35%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.makeSomeAnimation .clutteredWithPhotos .goodFriends {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 52%;
  left: 23%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.makeSomeAnimation .clutteredWithPhotos .keithResting {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 50%;
  left: 43%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.makeSomeAnimation .clutteredWithPhotos .cheers {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 30%;
  left: 25%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.makeSomeAnimation .clutteredWithPhotos .hydrangea {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 27%;
  left: 45%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.makeSomeAnimation .clutteredWithPhotos .giraffe {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 35%;
  left: 39%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.makeSomeAnimation .clutteredWithPhotos .blueSky {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 40%;
  left: 35%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.makeSomeAnimation .clutteredWithPhotos .activeForCamera {
  -webkit-animation-name: takeAPhoto;
          animation-name: takeAPhoto;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .activeForFlash {
  -webkit-animation-name: flashScale;
          animation-name: flashScale;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .active1 {
  -webkit-animation-name: movePhoto1;
          animation-name: movePhoto1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.makeSomeAnimation .clutteredWithPhotos .active2 {
  -webkit-animation-name: movePhoto2;
          animation-name: movePhoto2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.makeSomeAnimation .clutteredWithPhotos .active3 {
  -webkit-animation-name: movePhoto3;
          animation-name: movePhoto3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.makeSomeAnimation .clutteredWithPhotos #toStart {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -webkit-gradient(linear, left top, right top, from(#ed213a), to(#93291e));
  background: linear-gradient(to right, #ed213a, #93291e);
  color: #ffeadb;
  font-family: "Barlow Condensed", sans-serif;
  padding: 15px 50px;
  border-radius: 30px;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px gray;
          box-shadow: 10px 10px 5px gray;
  outline: none;
  z-index: 100;
}

.makeSomeAnimation .clutteredWithPhotos #toStart:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=start.css.map */