

.paella {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    transform-origin: 0 0;
}

.pplILove {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    transform-origin: 0 0;
}

.running {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%) rotate(3deg);
    transform-origin: 0 0;
}

.sunsetInSg {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -70%) rotate(-21deg);
    transform-origin: bottom right;
}

.karaoke {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%) rotate(7deg);
    transform-origin: bottom right;
}

.marlion {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 51%;
    left: 40%;
    transform: rotate(-4deg);
    transform-origin: bottom right;
}

.noto {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 49%;
    left: 38%;
    transform: rotate(-7deg);
    transform-origin: bottom right;
}

.goodFriends {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 52%;
    left: 23%;
    transform: rotate(-7deg);
    transform-origin: bottom right;
}

.autumn {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 43%;
    transform: rotate(23deg);
    transform-origin: bottom right;
}

.cheers {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -53%) rotate(-8deg);
    transform-origin: bottom right;
}


.hydrangea {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 60%;
    transform: translate(-53%, -53%) rotate(12deg);
    transform-origin: bottom right;
}

.giraffe {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 57%;
    left: 39%;
    transform: rotate(3deg);
    transform-origin: bottom right;
}

.blueSky {
    position: absolute;
    height: 300px;
    width: 450px;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%) rotate(5deg); */
    transform: scale(1);
    transform-origin: bottom right;
     
}

.toStart {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #ed213a, #93291e);
    color: #ffeadb;
    font-family: cursive;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 10px 10px 5px gray;
    
 }

 .toStart:hover + .giraffe {
     transform: scale(1.3);
 }



 .button, .result{
    width: 200px;
    height: 100px;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    background: #66b6d5;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .button:hover + .result{
    transform: scale(1.5);
  }

 .testHover {
    width: 200px;
    height: 100px;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    background: #66b6d5;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .testButton {
      background: hotpink;
  }

  .testButton:hover + .testHover {
    background: black;
  }

  /* .putPicasBG {
      background: url(../img/animal.jpg);
      width: 450px;
      height: 300px;
      background-size: cover;
  }

  .clickhere {
      color: gray;
  }
  
  .clickhere:hover + .putPicasBG {
      transform: scale(1.2);
  } */