@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@-webkit-keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@-webkit-keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-webkit-keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@-webkit-keyframes buttonTransparent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes buttonTransparent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@keyframes scaleNOpacity1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 50%;
    left: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 50%;
    left: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    left: -100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleNOpacity6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    left: -100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes fallingDown1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: -20%;
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: 150%;
    opacity: 0;
  }
}

@keyframes fallingDown1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: -20%;
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: 150%;
    opacity: 0;
  }
}

@-webkit-keyframes scaleThePage {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleThePage {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes rotateFlash {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes rotateFlash {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff8c1 !important;
}

li {
  list-style: none;
}

@keyframes animeForTitle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes takeAPhoto {
  0% {
    top: -15%;
  }
  50% {
    top: -13%;
  }
  100% {
    top: -15%;
  }
}

@keyframes flashScale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes movePhoto1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes movePhoto2 {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes movePhoto3 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes buttonTransparent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleNOpacity1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@keyframes scaleNOpacity2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 50%;
    left: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    top: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    left: -100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes scaleNOpacity6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    bottom: 100%;
    left: -100%;
    opacity: 0;
  }
}

@keyframes fallingDown1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: -20%;
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: 150%;
    opacity: 0;
  }
}

@keyframes scaleThePage {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotateFlash {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

.makeSomeAnimation {
  position: relative;
}

.makeSomeAnimation .logOut {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.makeSomeAnimation .logOut a {
  font-family: "Barlow Condensed", sans-serif;
  color: black;
  font-size: 1.3em;
}

.makeSomeAnimation h1 {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  -webkit-animation-name: animeForTitle;
          animation-name: animeForTitle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .opacityForh1 {
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.makeSomeAnimation .clutteredWithPhotos {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 500px;
}

.makeSomeAnimation .clutteredWithPhotos .utsurundesu {
  position: absolute;
  top: -15%;
  left: -27%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera {
  position: absolute;
  top: -25%;
  left: 13%;
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash {
  background: #fcd307;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash::before, .makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background: #fcd307;
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.makeSomeAnimation .clutteredWithPhotos .flashForCamera .flash::after {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.makeSomeAnimation .clutteredWithPhotos .running {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 20%;
  left: 25%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.makeSomeAnimation .clutteredWithPhotos .sunsetInSg {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 50%;
  left: 47%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.makeSomeAnimation .clutteredWithPhotos .karaoke {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 20%;
  left: 35%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.makeSomeAnimation .clutteredWithPhotos .marlion {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 51%;
  left: 40%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.makeSomeAnimation .clutteredWithPhotos .noto {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 55%;
  left: 35%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.makeSomeAnimation .clutteredWithPhotos .goodFriends {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 52%;
  left: 23%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.makeSomeAnimation .clutteredWithPhotos .keithResting {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 50%;
  left: 43%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.makeSomeAnimation .clutteredWithPhotos .cheers {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 30%;
  left: 25%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.makeSomeAnimation .clutteredWithPhotos .hydrangea {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 27%;
  left: 45%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.makeSomeAnimation .clutteredWithPhotos .giraffe {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 35%;
  left: 39%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.makeSomeAnimation .clutteredWithPhotos .blueSky {
  position: absolute;
  height: 300px;
  width: 450px;
  top: 40%;
  left: 35%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.makeSomeAnimation .clutteredWithPhotos .activeForCamera {
  -webkit-animation-name: takeAPhoto;
          animation-name: takeAPhoto;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .activeForFlash {
  -webkit-animation-name: flashScale;
          animation-name: flashScale;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .active1 {
  -webkit-animation-name: movePhoto1;
          animation-name: movePhoto1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.makeSomeAnimation .clutteredWithPhotos .active2 {
  -webkit-animation-name: movePhoto2;
          animation-name: movePhoto2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.makeSomeAnimation .clutteredWithPhotos .active3 {
  -webkit-animation-name: movePhoto3;
          animation-name: movePhoto3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.makeSomeAnimation .clutteredWithPhotos .makeButtonTransparent {
  -webkit-animation-name: buttonTransparent;
          animation-name: buttonTransparent;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .scale1 {
  -webkit-animation-name: scaleNOpacity1;
          animation-name: scaleNOpacity1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .scale2 {
  -webkit-animation-name: scaleNOpacity2;
          animation-name: scaleNOpacity2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .scale3 {
  -webkit-animation-name: scaleNOpacity3;
          animation-name: scaleNOpacity3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .scale4 {
  -webkit-animation-name: scaleNOpacity4;
          animation-name: scaleNOpacity4;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .scale5 {
  -webkit-animation-name: scaleNOpacity5;
          animation-name: scaleNOpacity5;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos .scale6 {
  -webkit-animation-name: scaleNOpacity6;
          animation-name: scaleNOpacity6;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.makeSomeAnimation .clutteredWithPhotos #toStart {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -webkit-gradient(linear, left top, right top, from(#ed213a), to(#93291e));
  background: linear-gradient(to right, #ed213a, #93291e);
  color: #ffeadb;
  font-family: "Barlow Condensed", sans-serif;
  padding: 15px 50px;
  border-radius: 30px;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  outline: none;
  z-index: 100;
}

.makeSomeAnimation .clutteredWithPhotos #toStart:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1299px) {
  .utsurundesu {
    width: 500px;
    height: 230px;
    left: -30% !important;
  }
  .flashForCamera {
    top: -17% !important;
  }
  .flashForCamera .flash {
    width: 80px !important;
    height: 80px !important;
  }
  .flashForCamera .flash::before, .flashForCamera .flash::after {
    height: 80px !important;
    width: 80px !important;
  }
  .running, .sunsetInSg, .karaoke, .marlion,
  .noto, .goodFriends, .keithResting, .cheers,
  .hydrangea, .giraffe, .blueSky {
    height: 250px !important;
    width: 375px !important;
  }
}

@media screen and (max-width: 1129px) {
  .utsurundesu {
    width: 400px;
    height: 184px;
    left: -25% !important;
  }
  .flashForCamera {
    top: -15% !important;
    left: 15% !important;
  }
  .flashForCamera .flash {
    width: 60px !important;
    height: 60px !important;
  }
  .flashForCamera .flash::before, .flashForCamera .flash::after {
    height: 60px !important;
    width: 60px !important;
  }
}

@media screen and (max-width: 999px) {
  .utsurundesu {
    width: 350px;
    height: 161px;
    top: -15%;
    left: -27% !important;
  }
  .flashForCamera {
    left: 12% !important;
  }
  .flashForCamera .flash {
    width: 50px !important;
    height: 50px !important;
  }
  .flashForCamera .flash::before, .flashForCamera .flash::after {
    height: 50px !important;
    width: 50px !important;
  }
  .running, .sunsetInSg, .karaoke, .marlion,
  .noto, .goodFriends, .keithResting, .cheers,
  .hydrangea, .giraffe, .blueSky {
    height: 200px !important;
    width: 300px !important;
  }
}

@media screen and (max-width: 879px) {
  body {
    width: 100% !important;
  }
  .utsurundesu {
    display: none;
  }
  .flashForCamera {
    display: none;
  }
  .running, .sunsetInSg, .karaoke, .marlion,
  .noto, .goodFriends, .keithResting, .cheers,
  .hydrangea, .giraffe, .blueSky {
    height: 200px !important;
    width: 300px !important;
    z-index: 0 !important;
  }
  .running {
    left: 68% !important;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .sunsetInSg {
    -webkit-animation-delay: -3.5s;
            animation-delay: -3.5s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .karaoke {
    left: 20% !important;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .marlion {
    -webkit-animation-delay: -1.5s;
            animation-delay: -1.5s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .noto {
    left: 10% !important;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .goodFriends {
    left: 30% !important;
    -webkit-animation-delay: -.3s;
            animation-delay: -.3s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .keithResting {
    left: 0 !important;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .cheers {
    left: 0 !important;
    -webkit-animation-delay: -7.5s;
            animation-delay: -7.5s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .hydrangea {
    left: 25% !important;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .giraffe {
    left: 70% !important;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .blueSky {
    left: 65% !important;
    -webkit-animation-delay: -4.5s;
            animation-delay: -4.5s;
    -webkit-animation-name: fallingDown1;
            animation-name: fallingDown1;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
/*# sourceMappingURL=start.css.map */